body {
    overflow: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    color: red;
}

/* section*/
section {
    display: inline-block;
    left: 75px;
    font-weight: 700;
    font-size: 17px;
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 1000;
    background: white;
    width: auto;
    margin-top: 50px;
}

ul {
    list-style: none;
    overflow: auto;
    
}

li {
    height: 100px;
    width: 100px;
    float: left;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;  
    margin-bottom: 5px;  
    text-align: center;
    border-radius: 5px;
}

.one {
    background-image: url("../assets/images/1.jpg");

}

.two {
    background-image: url("../assets/images/1.jpg");
}

.three {
    background-image: url("../assets/images/3.jpg");
}

.four {
    background-image: url("../assets/images/4.jpg");
}

.five {
    background-image: url("../assets/images/5.jpg");
}

.six {
    background-image: url("../assets/images/6.jpg");
}

.seven {
    background-image: url("../assets/images/7.jpg");
}

.eight {
    background-image: url("../assets/images/8.jpg");
}

.nine {
    background-image: url("../assets/images/9.jpg");
}


